@model HomeViewModel

<h3>Employees</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in Model.Employees)
        {
            <tr>
                <th scope="row">@employee.Id</th>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
            </tr>
        }
    </tbody>
</table>

